# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log
testem.log

# IDEs and editors
.idea/
.project
.classpath
.cproject
.settings/
.vscode/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db

# Angular specific
/.angular/
.cache/

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
